<html>
 <center>
  <h3 style="color: blue">Login</h3>
  <form action="/login" method="post">
   <label>Username</label> <br />
   <input
    style="border: 2; border-style: groove; border-color: blue"
    type="text"
    name="username"
   /><br />
   <label>Password</label><br />
   <input
    style="border: 2; border-style: groove; border-color: blue"
    type="password"
    name="password"
   />
   <br /><br />
   <input style="color: green" type="submit" value="Authenticate" />
   <br /><br />
  </form>
  <p style="color: red">{{error_auth}}</p>
 </center>
</html>
